<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
       Put value of Logger variable. Default is 1
        1- FileLogger
        2- DBLogger
        3- ConsoleLogger
      -->
    <add key="Logger" value="2"/>
  </appSettings>
  <connectionStrings>
    <add name="myConString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Test;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>